@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

nav a{
  margin-right: 60px;
}
/* ? Aqui hice el subrayado de los titulos de navegacion*/
nav a::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: all 0.3s ease;
}
nav a:hover::after {
  width: 100%;
}
:root {
  --color-text: #2E3A59;     
  --color-primary: #256EFF;  
  --color-secondary: #FF8C42; 
  --color-primary-hover: #1f5ed1;
  --color-secondary-hover: #e6762f;
  --lineas: #2E3A5980;
  /* ? Queda pendiente agregar el color del background en ciertas areas */
}

